{% extends "base.html" %}
{% block content %}    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>404 - Página não encontrada</h1>
                    <p>
                        <a href="{{ base_url }}/inicio">
                            Voltar para página inical
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}