{% extends "base.html" %} 

{% block content %}

<paciente-acompanhamento></paciente-acompanhamento>
{% endblock %} 

{% block js %}
<script src="{{ base_url }}/tags/paciente/form-select-uf.html"></script>
<script src="{{ base_url }}/tags/paciente/acompanhamento.html"></script>
<script type="text/javascript">
    window.onload = function () {
        APP.load.css(BASE_URL + '/css/sweetalert2.min.css');        
    };

    var codigo_paciente = '{{ codigo_paciente }}';
    if (codigo_paciente) {
        var data = {'columns': ['nome_pac', 'codigo_paciente', 'cod_prnt']};        
        APP.ajaxPostRequest(BASE_URL + '/paciente/find/' + codigo_paciente, JSON.stringify(data),
            function (json) {
                riot.mount('paciente-acompanhamento', {
                    'dados': json
                });
            }
        );
    }
</script>
{% endblock %}