{% extends "base.html" %} {% block content %}
<div id="paciente-entrevista"></div>
{% endblock %} {% block js %}
<script src="{{ base_url }}/tags/form-select-locais-sessao.js"></script>
<script src="{{ base_url }}/tags/paciente/local-tipo.js"></script>
<script src="{{ base_url }}/tags/paciente/entrevista/aspecto-socioeconomico.js"></script>
<script src="{{ base_url }}/tags/paciente/entrevista/info-contexto-hospitalar.js"></script>
<script src="{{ base_url }}/tags/paciente/entrevista/info-gestacao.js"></script>
<script src="{{ base_url }}/tags/paciente/entrevista/aspecto-obito.js"></script>
<script src="{{ base_url }}/tags/paciente/entrevista/observacao.js"></script>

<script src="{{ base_url }}/js/auto-complete.min.js"></script>
<script src="{{ base_url }}/tags/form-autocomplete.js"></script>

<script src="{{ base_url }}/tags/paciente/entrevista.js"></script>

<script type="text/javascript">
    window.onload = function () {
        APP.load.css(BASE_URL + '/css/sweetalert2.min.css');
        APP.load.css(BASE_URL + '/css/auto-complete.css');    
    };

    var codigo_paciente = '{{ codigo_paciente }}';
    var num_doc = '{{ num_doc }}';
    var tipo = '{{ tipo }}';
    var data = {
        'columns': ['nome_pac', 'nome_social', 'codigo_paciente', 'cod_prnt'],
        'joins': ['entrevistas', 'entrevistas.situacoesFuncionais', 'entrevistas.profissao']
    };

    APP.ajaxPostRequest(BASE_URL + '/paciente/find/' + codigo_paciente, JSON.stringify(data),
        function (json) {            
            var entrevista = {};
            if (num_doc) {
                entrevista = json.entrevistas.find(function (a) {
                    return a.num_doc == num_doc;
                });
            }           
            
            riot.mount('#paciente-entrevista', 'paciente-entrevista', {
                'tipo': tipo,
                'paciente': json,
                'entrevista': entrevista
            });
            
/*
            switch (tipo) {
                case 'A':
                    riot.mount('#paciente-entrevista', 'paciente-entrevista-adulto', {
                        'paciente': json,
                        'entrevista': entrevista
                    });
                    break;

                case 'M':
                    riot.mount('#paciente-entrevista', 'paciente-entrevista-adulto-maternidade', {
                        'paciente': json,
                        'entrevista': entrevista
                    });
                    break;

                case 'CP':
                    riot.mount('#paciente-entrevista', 'paciente-entrevista-adulto-paliativo', {
                        'paciente': json,
                        'entrevista': entrevista
                    });
                    break;

                case 'C':
                    riot.mount('#paciente-entrevista', 'paciente-entrevista-crianca', {
                        'paciente': json,
                        'entrevista': entrevista
                    });
                    break;

                case 'CM':
                    riot.mount('#paciente-entrevista', 'paciente-entrevista-crianca-maternidade', {
                        'paciente': json,
                        'entrevista': entrevista
                    });
                    break;
            }
*/
        }
    );
</script>
{% endblock %}