{% extends "base.html" %} {% block content %}
<div id="paciente-entrevista"></div>
{% endblock %} {% block js %}
<script src="{{ base_url }}/tags/paciente/entrevista/aspecto-socioeconomico.html"></script>
<script src="{{ base_url }}/tags/paciente/entrevista/info-contexto-hospitalar.html"></script>
<script src="{{ base_url }}/tags/paciente/entrevista/info-gestacao.html"></script>
<script src="{{ base_url }}/tags/paciente/entrevista/aspecto-obito.html"></script>
<script src="{{ base_url }}/tags/paciente/entrevista/observacao.html"></script>

<script src="{{ base_url }}/tags/paciente/entrevista-adulto.html"></script>
<script src="{{ base_url }}/tags/paciente/entrevista-adulto-maternidade.html"></script>
<script src="{{ base_url }}/tags/paciente/entrevista-adulto-paliativo.html"></script>
<script src="{{ base_url }}/tags/paciente/entrevista-crianca.html"></script>
<script src="{{ base_url }}/tags/paciente/entrevista-crianca-maternidade.html"></script>

<script type="text/javascript">
    window.onload = function () {
        APP.load.css(BASE_URL + '/css/sweetalert2.min.css');
    };

    var codigo_paciente = '{{ codigo_paciente }}';
    var tipo = '{{ tipo }}';
    var data = {
        'columns': ['nome_pac', 'nome_social', 'codigo_paciente', 'cod_prnt'],
        'joins': []
    };

    APP.ajaxPostRequest(BASE_URL + '/paciente/find/' + codigo_paciente, JSON.stringify(data),
        function (json) {
            switch (tipo) {
                case 'A':
                    riot.mount('#paciente-entrevista', 'paciente-entrevista-adulto', {
                        'paciente': json,
                        'entrevista': {}
                    });
                    break;

                case 'M':
                    riot.mount('#paciente-entrevista', 'paciente-entrevista-adulto-maternidade', {
                        'paciente': json,
                        'entrevista': {}
                    });
                    break;

                case 'CP':
                    riot.mount('#paciente-entrevista', 'paciente-entrevista-adulto-paliativo', {
                        'paciente': json,
                        'entrevista': {}
                    });
                    break;

                case 'C':
                    riot.mount('#paciente-entrevista', 'paciente-entrevista-crianca', {
                        'paciente': json,
                        'entrevista': {}
                    });
                    break;

                case 'CM':
                    riot.mount('#paciente-entrevista', 'paciente-entrevista-crianca-maternidade', {
                        'paciente': json,
                        'entrevista': {}
                    });
                    break;
            }
        }
    );
</script>
{% endblock %}