{% extends "base.html" %} 

{% block content %}
<paciente-list></paciente-list>
{% endblock %} 

{% block js %}
    <script src="{{ base_url }}/js/listagem-mixin.js"></script> 
    <script src="{{ base_url }}/tags/pagination.js"></script>
    <script src="{{ base_url }}/tags/paciente/list.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            APP.load.css(BASE_URL + '/css/sweetalert2.min.css');            
            APP.load.js(BASE_URL + '/js/sweetalert2.min.js');
        }
    </script>
{% endblock %}