{% extends "base.html" %} {% block content %}
<div id="paciente-visualizacao"></div>
{% endblock %} {% block js %}
<script src="{{ base_url }}/tags/paciente/visualizacao.js"></script>
<script src="{{ base_url }}/tags/paciente/visualizacao/visualizacao-identificacao.js"></script>
<script src="{{ base_url }}/tags/paciente/visualizacao/visualizacao-acompanhamentos.js"></script>
<script src="{{ base_url }}/tags/paciente/visualizacao/visualizacao-entrevistas.js"></script>
<script type="text/javascript">
    window.onload = function () {
        APP.load.css(BASE_URL + '/css/sweetalert2.min.css');
    };

    var codigo_paciente = '{{ codigo_paciente }}';
    var somente_visualizar = '{{ somente_visualizar }}';

    if (codigo_paciente) {
        var data = {};
        data.joins = [
            'profissional',
            'endereco',
            'enderecoContato',
            'acompanhamentos.local',
            'acompanhamentos.profissional',
            'acompanhamentos.acompanhamentoItem.categoria',
            'entrevistas.local',
            'entrevistas.profissional'
        ];
        APP.ajaxPostRequest(BASE_URL + '/paciente/find/' + codigo_paciente, JSON.stringify(data),
            function (json) {
                riot.mount('#paciente-visualizacao', 'paciente-visualizacao', {
                    'dados': json,
                    'usuarioSessao': APP.getSession(),
                    'somenteVisualizar': somente_visualizar
                });
            }
        );

    }
</script>
{% endblock %}