{% extends "base.html" %} 

{% block content %}
    <profissional-form dados="{ JSON.parse('{{ dados | json_encode }}') }"></profissional-form>
{% endblock %}

{% block js %}            
    <script src="{{ base_url }}/js/sweetalert2.min.js" async></script>
    <script src="{{ base_url }}/js/auto-complete.min.js" defer></script>
    <script src="{{ base_url }}/tags/form-autocomplete.html" defer></script>             
    <script src="{{ base_url }}/tags/profissional/form.html"></script>   
    <script type="text/javascript">
        window.onload = function () {
            APP.load.css(BASE_URL + '/css/sweetalert2.min.css');                        
            APP.load.css(BASE_URL + '/css/auto-complete.css');                        
        }
    </script> 
{% endblock %}